.ctools-locked{color:red;border:1px solid red;padding:1em;}.ctools-owns-lock{background:#FFFFDD none repeat scroll 0 0;border:1px solid #F0C020;padding:1em;}a.ctools-ajaxing,input.ctools-ajaxing,button.ctools-ajaxing,select.ctools-ajaxing{padding-right:18px !important;background:url(../../../all/modules/ctools/images/status-active.gif) right center no-repeat;}div.ctools-ajaxing{float:left;width:18px;background:url(../../../all/modules/ctools/images/status-active.gif) center center no-repeat;}
.url-textfield{display:none !important;}
input.webform-calendar{display:none;padding:3px;vertical-align:top;}html.js input.webform-calendar{display:inline;}.webform-container-inline label{display:inline;margin-right:1em;}.webform-container-inline div,.webform-container-inline div.form-item{display:inline;}.webform-container-inline div.description{display:block;}.webform-container-inline div.messages{display:block;float:left;}.webform-container-inline div.ajax-progress-bar div{display:inherit;}
